# -*- coding: utf-8 -*-
# vim: ft=yaml
---
saltplusplus:
  ssf:
    api_keys:
      github: ABC123
    repo_location: /srv/repos
    repos:
      template-formula:
        origin: https://github.com/saltstack-formulas/template-formula.git
        gitlab: https://gitlab.com/saltstack-formulas/template-formula.git
  ssh:
    keytype: ed25519
    key: |
      -----BEGIN OPENSSH PRIVATE KEY-----
      abc
      -----END OPENSSH PRIVATE KEY-----
    pubkey: |
      ssh-ed25519 abc
  tofs:
    files_switch:
      - id
      - roles
      - osfinger
      - os
      - os_family
